.navbarf {
    position: fixed;
    top: 15px;
    left: 15px;
    z-index: 10;
    background: white;
    border-radius: 1px;
    /* border: 1px solid black; */
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.navbarfr {
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10;
    background: transparent;
    border-radius: 1px;
    /* border: 1px solid black; */
}

.navbarfbr {
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 10;
    background: transparent;
}

.marginleft {
    margin-right: 20px;
}

.right-side-toggle i {
    top: 18px;
    left: 18px;
}